<div class="container">

	<h3 class="page-header">Laptops</h3>

	<div class="float-left">
		<table>
			<tr>
				<th>No.</th>
				<th>Laptop Make</th>
				<th>Laptop Model</th>
				<th>Purchase Date</th>
				<th>Asignee</th>
			</tr>
			<tr>
				<td>1</td>
				<td>MacBook</td>
				<td>2012</td>
				<td>1 June 2013</td>
				<td>Daniel Steenberg</td>
			</tr>
			<tr>
				<td>2</td>
				<td>Dell</td>
				<td>2015</td>
				<td>1 June 2015</td>
				<td>Daniel Steenberg</td>
			</tr>
		</table>
	</div>

	<div class="float-right">
		<h2>Search Bar</h2></br>
		<form class="search-form">
  			Enter Search item here:<br>
  		<input type="text" name="username"><br>
		</form>
		<input class="button" type="button" onclick="alert('Search')" value="Search">
	</div>
</div>