<!DOCTYPE html>
<html lang="en">

<body>
<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://www.tnooz.com/wp-content/uploads/2012/09/asset-management.jpg');"></div>
                <div class="carousel-caption">
                    <!-- <h2>Caption 1</h2> -->
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://www.richterbet.com/wp-content/uploads/2013/12/software-asset-management.jpg');"></div>
                <div class="carousel-caption">
                    <!-- <h2>Caption 2</h2> -->
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://www.sagaselect-am.com/data/images/446_8c174906bc5449ab6578aaa00a19a4f1.jpg');"></div>
                <div class="carousel-caption">
                    <!-- <h2>Caption 3</h2> -->
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to Asset Manager
                </h1>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> About Asset Manager</h4>
                    </div>
                    <div class="panel-body">
                        <p>Asset Manager is a system designed to keep track of all users and the items
                        	that have been assigned to them. The point of this systems is to keep track
                        	of all assets that have been bought by the company and to whom they have been assigned to.
                        </p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Purpose</h4>
                    </div>
                    <div class="panel-body">
                        <p>The Purpose of this app is to keep track of all company assets and to whom they have been
                            assigned to. In this application, you will also be able to keep track of the status of the 
                            assets, whether it is damaged or sent out for repair or insurance claims. </p>
                        <a href="#" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Contact for Enquiries</h4>
                    </div>
                    <div class="panel-body">
                        <p>You are welcome to send us a mail for if you have any complaints or questions that you might
                            have with using this application. Once you have sent us a mail, we will respond with 
                            feedback on what the best solution is to help you with using this application.</p>
                        <a href="#" class="btn btn-default">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <!-- Portfolio Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Screenshots of the System</h2>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="https://docs.typo3.org/typo3cms/extensions/dbtable_to_htmltable/_images/manual_html_m58cb66361.png" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="https://www.sysaid.com/Sysforums/templates/default/help/files/Guide_Getting_Started_files/Asset%20list.jpg" alt="">
                </a>
            </div>
            <div class="col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-portfolio img-hover" src="http://www.brookings.edu/~/media/multimedia/interactives/2014/InfrastructureJobs/figures/Table1.jpg" alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Asset Manager Features</h2>
            </div>
            <div class="col-md-6">
                <p>The Asset Manager aims to:</p>
                <ul>
                    <li>Record Employee infomation</li>
                    <li>Keep track of company Assets</li>
                    <li>Keep track of insurance claims</li>
                    <li>Keep track of Cost and comapny expenditure</li>
                    <li>Edit and change infomation that is logged into the database</li>
                </ul>
                <p>If there are anything that you are uncertain about or think that we should add then please refer
                    to our contact us page.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://webdamcom.c.presscdn.com/wp-content/uploads/2014/02/Benefits-of-digital-asset-management-software.png" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>If you interested in using this system, please click on the sign up
                    	or login button on the right</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Login/Sign up</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Asset Manager 2015, Done by Daniel Steenberg</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
