.new_model {
  width: 35%;
  border-style: solid;
  margin-left: 25%;
  background-color: gainsboro;
}

h2 {
  margin-top: 70px;
  margin-left: 2%;
  text-align: center;
}

.field {
  margin: 0%;
  height: 77px;
  padding: 10%;
  margin-left: 15%;
}
.actions {
  margin: 10%;
  margin-left: 60%;
}

input {
  margin-left: 2px;
  float: right;
  margin-right: 12px;
  width: 200px;
}