.dropdown {
  width: 5px;
}

.capture a:visited {
  color: #FFF;
}

a, a:visited {
  color: #000;
}

.nav navbar-nav navbar-right {
  color: #FFF;
  width: 70%;
}

.capture {
  color: #FFF;
  text-align: bottom;
}

.navbar-right a {
    position: bottom;
    color: #FFF;
}

title {
  color: white;
}

.navbar-left {
  float: left !important;
  position: absolute;
  font-size: xx-large;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0px 0px 1px;
  position: fixed;
}
.navbar-inverse {
  background-color: #222;
  border-color: #222;
}

.navbar-right {
  color: #0000FF;
}
