.dropdown {
  width: 5px;
}

.capture a:visited {
  color: #FFFFFF;
}

a, a:visited {
  color: black;
}

.nav navbar-nav navbar-right {
  color: white;
  width: 70%;
}

.capture {
  color: white;
  text-align: bottom;
}

.navbar-right a {
    position: bottom;
    color: white;
}

title {
  color: white;
}

.navbar-left {
  float: left !important;
  position: absolute;
  font-size: xx-large;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
    position: relative;
}

.navbar-right {
  color: blue;
}