.float-right {
	float: right;
	border: 2px solid;
	width: 20%;
	overflow: hidden;
	box-shadow: 3px 3px 2px #888888;
}

.float-left {
	float: left;
	overflow: hidden;
}

.float-right h2 {
	margin-top: 20px;
  margin-left: 15%;
}

.button {
  margin-bottom: 10%;
  margin-left: 5%;
}

.search-form {
	margin-left: 5%;
}